<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codimiracle.application.platform.huidu.mapper.ActivityMapper">
    <resultMap id="BaseResultMap" type="com.codimiracle.application.platform.huidu.entity.po.Activity">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="banner" jdbcType="VARCHAR" property="banner"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="book_id" jdbcType="INTEGER" property="bookId"/>
        <result column="deleted" jdbcType="BIT" property="deleted"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <resultMap id="IntegratedResultMap" type="com.codimiracle.application.platform.huidu.entity.vo.ActivityVO">
        <id column="activity_id" jdbcType="INTEGER" property="id"/>
        <result column="activity_banner" jdbcType="VARCHAR" property="banner"/>
        <result column="activity_url" jdbcType="VARCHAR" property="url"/>
        <result column="activity_status" jdbcType="VARCHAR" property="status"/>
        <result column="activity_book_id" jdbcType="INTEGER" property="bookId" />
        <result column="activity_create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="activity_update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <association property="book"
                     resultMap="com.codimiracle.application.platform.huidu.mapper.BookMapper.IntegratedResultMap"/>
    </resultMap>
    <update id="deleteByIdLogically">
        UPDATE activity
        SET deleted = 1
        WHERE id = #{id}
    </update>
    <update id="deleteByIdsLogically">
        UPDATE activity
        SET deleted = 1
        WHERE id IN
        <foreach collection="list" item="item" open="(" close=")" separator=",">#{item}</foreach>
    </update>
    <sql id="select_statement">
        SELECT a.id activity_id,
            a.banner activity_banner,
            a.status activity_status,
            a.url activity_url,
            a.book_id activity_book_id,
            a.create_time activity_create_time,
            a.update_time activity_update_time
        FROM activity a
        WHERE a.deleted = 0
    </sql>
    <select id="findByIdIntegrally" resultMap="IntegratedResultMap">
        <include refid="select_statement"/>
        AND a.id = #{id}
    </select>
    <select id="findAllIntegrally" resultMap="IntegratedResultMap">
        <include refid="select_statement"/>
        <if test="filter != null">
            <if test="filter.status != null and filter.status.length gt 0">
                AND a.status IN
                <foreach collection="filter.status" item="item" open="(" close=")" separator=",">#{item}</foreach>
            </if>
        </if>
    </select>
    <select id="selectByStatusIntegrally" resultMap="IntegratedResultMap">
        <include refid="select_statement"/>
        AND a.status = #{status}
        LIMIT 0, #{number}
    </select>
</mapper>