<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codimiracle.application.platform.huidu.mapper.BookEpisodeMapper">
    <resultMap id="BaseResultMap" type="com.codimiracle.application.platform.huidu.entity.po.BookEpisode">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="commodity_id" jdbcType="INTEGER" property="commodityId"/>
        <result column="owner_id" jdbcType="INTEGER" property="ownerId"/>
        <result column="episode_number" jdbcType="INTEGER" property="episodeNumber"/>
        <result column="content_type" jdbcType="VARCHAR" property="contentType"/>
        <result column="content_source" jdbcType="VARCHAR" property="contentSource"/>
        <result column="words" jdbcType="INTEGER" property="words"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="book_id" jdbcType="INTEGER" property="bookId"/>
        <result column="deleted" jdbcType="BIT" property="deleted"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <resultMap id="IntegratedResultMap" type="com.codimiracle.application.platform.huidu.entity.vo.BookEpisodeVO">
        <id column="book_episode_id" jdbcType="INTEGER" property="id"/>
        <result column="book_episode_title" jdbcType="VARCHAR" property="title"/>
        <result column="book_episode_words" jdbcType="INTEGER" property="words"/>
        <result column="book_episode_status" jdbcType="VARCHAR" property="status"/>
        <result column="book_episode_episode_number" jdbcType="INTEGER" property="episodeNumber"/>
        <result column="book_id" jdbcType="INTEGER" property="bookId"/>
        <result column="commodity_id" jdbcType="INTEGER" property="commodityId" />
        <result column="book_episode_create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="book_episode_update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <association property="owner"
                     resultMap="com.codimiracle.application.platform.huidu.mapper.UserMapper.ProtectedResultMap"/>
        <association property="content"
                     javaType="com.codimiracle.application.platform.huidu.entity.embedded.ContentSource">
            <result column="book_episode_content_type" jdbcType="VARCHAR" property="type"/>
            <result column="book_episode_content_source" jdbcType="VARCHAR" property="source"/>
        </association>
        <association property="book"
                     resultMap="com.codimiracle.application.platform.huidu.mapper.BookMapper.IntegratedResultMap"/>
        <association property="commodity" javaType="com.codimiracle.application.platform.huidu.entity.vo.CommodityVO">
            <result column="book_episode_commodity_id" jdbcType="INTEGER" property="id"/>
            <result column="book_episode_commodity_name" jdbcType="VARCHAR" property="name"/>
            <result column="book_episode_commodity_type" jdbcType="VARCHAR" property="type"/>
            <result column="book_episode_commodity_picture" jdbcType="VARCHAR" property="picture"/>
            <result column="book_episode_commodity_introduction" jdbcType="VARCHAR" property="introduction"/>
            <result column="book_episode_commodity_rate" jdbcType="VARCHAR" property="rate"/>
            <result column="book_episode_commodity_weight" jdbcType="DOUBLE" property="weight"/>
            <result column="book_episode_commodity_stock" jdbcType="VARCHAR" property="stock"/>
            <result column="book_episode_commodity_available_stock" jdbcType="VARCHAR" property="availableStock"/>
            <result column="book_episode_commodity_sales" jdbcType="VARCHAR" property="sales"/>
            <result column="book_episode_commodity_shipment" jdbcType="VARCHAR" property="shipment"/>
            <result column="book_episode_commodity_extra" jdbcType="VARCHAR" property="extra"/>
            <result column="book_episode_commodity_prices" jdbcType="VARCHAR" property="prices"/>
            <result column="book_episode_commodity_status" jdbcType="VARCHAR" property="status"/>
        </association>
    </resultMap>
    <resultMap id="CatalogsResultMap" type="com.codimiracle.application.platform.huidu.entity.vt.Catalogs">
        <result column="catalogs_title" jdbcType="VARCHAR" property="title"/>
        <result column="catalogs_book_id" jdbcType="VARCHAR" property="bookId"/>
        <result column="catalogs_episode_number" jdbcType="INTEGER" property="episodeNumber"/>
        <result column="catalogs_episode_id" jdbcType="INTEGER" property="episodeId"/>
    </resultMap>
    <sql id="select_statement">
        SELECT be.id                book_episode_id,
               be.title             book_episode_title,
               be.episode_number    book_episode_episode_number,
               be.content_type      book_episode_content_type,
               be.content_source    book_episode_content_source,
               be.words             book_episode_words,
               be.status            book_episode_status,
               be.create_time       book_episode_create_time,
               be.update_time       book_episode_update_time,
               be.book_id           book_id,
               be.commodity_id      commodity_id,
               u.id                 user_id,
               u.username           user_username,
               u.nickname           user_nickname,
               u.avatar             user_avatar
        FROM book_episode be
                 LEFT JOIN user u ON be.owner_id = u.id
        WHERE be.deleted = 0
    </sql>
    <sql id="select_statement_publish">
        <include refid="select_statement"/>
        AND be.status = 'publish'
    </sql>
    <update id="deleteByIdLogically">
        UPDATE book_episode be
        SET be.deleted = 1
        WHERE be.id = #{id}
    </update>
    <update id="deleteByIdsLogically">
        UPDATE book_episode be
        SET be.deleted = 1
        WHERE be.id IN
        <foreach collection="ids" item="item" open="(" close=")" separator=",">#{item}</foreach>
    </update>
    <select id="selectByIdIntegrally" resultMap="IntegratedResultMap">
        <include refid="select_statement"/>
        AND be.id = #{id}
    </select>
    <select id="selectAllIntegrally" resultMap="IntegratedResultMap">
        <include refid="select_statement"/>
        <if test="bookId != null">
            AND be.book_id = #{bookId}
        </if>
        <if test="filter !=null">
            <if test="filter.title != null and filter.title.length gt 0">
                AND be.title LIKE concat('%', #{filter.title[0]}, '%')
            </if>
            <if test="filter.status != null and filter.status.length gt 0">
                AND be.status IN
                <foreach collection="filter.status" item="item" open="(" close=")" separator=",">#{item}</foreach>
            </if>
        </if>
        ORDER BY be.episode_number ASC
    </select>
    <select id="selectLastUpdateEpisodeIntegrally" resultMap="IntegratedResultMap">
        <include refid="select_statement"/>
        AND be.book_id = #{bookId}
        ORDER By be.update_time DESC
        LIMIT 0,1
    </select>
    <select id="selectLastEpisodeIntegrally" resultMap="IntegratedResultMap">
        <include refid="select_statement"/>
        AND be.book_id = #{bookId}
        ORDER BY be.episode_number DESC
        LIMIT 0,1
    </select>
    <select id="selectByEpisodeNumberIntegrally" resultMap="IntegratedResultMap">
        <include refid="select_statement_publish"/>
        AND be.book_id = #{bookId}
        AND be.episode_number = #{episodeNumber}
    </select>
    <select id="selectCatalogsByBookId" resultMap="CatalogsResultMap">
        SELECT be.title catalogs_title,
        be.book_id catalogs_book_id,
        be.episode_number catalogs_episode_number,
        be.id catalogs_episode_id
        FROM book_episode be
        WHERE be.deleted = 0
        <if test="status != null">
            AND be.status = #{status}
        </if>
        AND be.book_id = #{bookId}
        ORDER BY be.episode_number;
    </select>
    <select id="selectLastPublishedEpisodeByBookId" resultMap="IntegratedResultMap">
        <include refid="select_statement_publish"/>
        AND be.book_id = #{bookId}
        ORDER BY be.update_time DESC
        LIMIT 0,1
    </select>
    <select id="selectEpisodeIdByEpisodeNumber" resultType="java.lang.String">
        SELECT be.id FROM book_episode be WHERE be.deleted = 0 AND be.book_id = #{bookId} AND be.episode_number = #{episodeNumber}
    </select>
</mapper>