<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codimiracle.application.platform.huidu.mapper.CategoryTagsMapper">
    <resultMap id="BaseResultMap" type="com.codimiracle.application.platform.huidu.entity.po.CategoryTags">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="category_id" jdbcType="INTEGER" property="categoryId"/>
        <result column="tag_id" jdbcType="INTEGER" property="tagId"/>
        <result column="deleted" jdbcType="INTEGER" property="deleted"/>
    </resultMap>
    <select id="selectByCategoryId" resultMap="BaseResultMap">
        SELECT ct.id,
               ct.category_id,
               ct.tag_id,
               ct.deleted
        FROM category_tags ct
        WHERE ct.category_id = #{categoryId}
    </select>
    <select id="selectCategoryByTagId"
            resultMap="com.codimiracle.application.platform.huidu.mapper.CategoryMapper.IntegratedResultMap">
        SELECT c.id                category_id,
               c.name              category_name,
               c.description       category_description,
               c.extra_url         category_extra_url,
               c.extra_aside_title category_extra_aside_title
        FROM category_tags ct
                 LEFT JOIN category c ON ct.category_id = c.id
        WHERE ct.deleted = 0
          AND ct.tag_id = #{id}
    </select>
    <select id="selectTagByCategoryId"
            resultMap="com.codimiracle.application.platform.huidu.mapper.TagMapper.IntegratedResultMap">
        SELECT t.id   tag_id,
               t.name tag_name
        FROM category_tags ct
                 LEFT JOIN tag t ON ct.tag_id = t.id
        WHERE ct.deleted = 0
          AND ct.category_id = #{id}
    </select>
</mapper>