<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codimiracle.application.platform.huidu.mapper.CategoryMapper">
    <resultMap id="BaseResultMap" type="com.codimiracle.application.platform.huidu.entity.po.Category">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="extra_url" jdbcType="VARCHAR" property="extraUrl"/>
        <result column="extra_aside_title" jdbcType="VARCHAR" property="extraAsideTitle"/>
        <result column="deleted" jdbcType="BIT" property="deleted"/>
    </resultMap>
    <resultMap id="IntegratedResultMap" type="com.codimiracle.application.platform.huidu.entity.vo.CategoryVO">
        <id column="category_id" jdbcType="INTEGER" property="id"/>
        <result column="category_name" jdbcType="VARCHAR" property="name"/>
        <result column="category_description" jdbcType="VARCHAR" property="description"/>
        <association property="extra"
                     javaType="com.codimiracle.application.platform.huidu.entity.embedded.CategoryExtra">
            <result column="category_extra_url" jdbcType="VARCHAR" property="url"/>
            <result column="category_extra_aside_title" jdbcType="VARCHAR" property="asideTitle"/>
        </association>
        <collection property="tags" ofType="com.codimiracle.application.platform.huidu.entity.vo.TagVO">
            <result column="tag_name" jdbcType="VARCHAR" property="name"/>
            <result column="tag_id" jdbcType="VARCHAR" property="id"/>
        </collection>
    </resultMap>
    <resultMap id="StatisticsResultMap" type="com.codimiracle.application.platform.huidu.entity.vo.CollectionStatisticsVO">
        <id column="book_id" property="bookId" jdbcType="INTEGER"/>
        <association property="book" resultMap="com.codimiracle.application.platform.huidu.mapper.BookMapper.IntegratedResultMap" />
    </resultMap>
    <update id="deleteByIdsLogically">
        UPDATE category
        SET deleted = 1
        WHERE category.id IN
        <foreach collection="list" item="item" open="(" close=")" separator=",">#{item}</foreach>
    </update>
    <delete id="deleteByIdLogically">
        UPDATE category
        SET deleted = 1
        WHERE category.id = #{id}
    </delete>
    <sql id="select_statement_without_type">
        SELECT c.id                category_id,
               c.name              category_name,
               c.description       category_description,
               c.extra_url         category_extra_url,
               c.extra_aside_title category_extra_aside_title
        FROM category c
        WHERE c.deleted = 0
    </sql>
    <sql id="select_statement">
        <include refid="select_statement_without_type"/>
        <if test="type != null">AND c.type = #{type}</if>
    </sql>
    <select id="selectByIdIntegrally" resultMap="IntegratedResultMap">
        <include refid="select_statement_without_type"/>
        AND c.id = #{id}
    </select>
    <select id="selectAllIntegrally" resultMap="IntegratedResultMap">
        <include refid="select_statement"/>
    </select>
    <select id="selectRelativeCategoriesByBookType" resultMap="IntegratedResultMap">
        <include refid="select_statement_without_type"/>
        AND c.type = 'category'
        AND c.id IN (
        SELECT b.category_id
        FROM book b
        WHERE b.type = #{bookType}
        AND b.deleted = 0
        AND b.status = 'publish')
    </select>
    <select id="selectCollectionStatisticsByCollectionId" resultMap="StatisticsResultMap">
        <include refid="com.codimiracle.application.platform.huidu.mapper.BookMapper.select_statement_without_type" />
        AND b.id IN (SELECT bt.book_id FROM book_tags bt WHERE bt.tag_id IN (SELECT ct.tag_id FROM category_tags ct WHERE ct.category_id = #{collectionId}) GROUP BY bt.book_id)
    </select>
</mapper>