<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codimiracle.application.platform.huidu.mapper.ContentMentionMapper">
    <resultMap id="BaseResultMap" type="com.codimiracle.application.platform.huidu.entity.po.ContentMention">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="content_id" jdbcType="INTEGER" property="contentId"/>
        <result column="mention_user_id" jdbcType="INTEGER" property="mentionUserId"/>
    </resultMap>
</mapper>