<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codimiracle.application.platform.huidu.mapper.ContentExaminationMapper">
    <resultMap id="BaseResultMap" type="com.codimiracle.application.platform.huidu.entity.po.ContentExamination">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="target_content_id" jdbcType="INTEGER" property="targetContentId"/>
        <result column="from_status" jdbcType="VARCHAR" property="fromStatus"/>
        <result column="to_status" jdbcType="VARCHAR" property="toStatus"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="reason" jdbcType="VARCHAR" property="reason"/>
    </resultMap>
    <resultMap id="IntegratedResultMap" type="com.codimiracle.application.platform.huidu.entity.vo.ExaminationVO">
        <id column="examination_id" jdbcType="INTEGER" property="id"/>
        <result column="examination_target_content_id" jdbcType="INTEGER" property="targetContentId"/>
        <result column="examination_from_status" jdbcType="VARCHAR" property="fromStatus"/>
        <result column="examination_to_status" jdbcType="VARCHAR" property="toStatus"/>
        <result column="examination_reason" jdbcType="VARCHAR" property="reason"/>
        <association property="examiner"
                     resultMap="com.codimiracle.application.platform.huidu.mapper.UserMapper.ProtectedResultMap"/>
    </resultMap>

    <sql id="select_statement">
        SELECT
        ce.id examination_id,
        ce.target_content_id examination_target_content_id,
        ce.from_status examination_from_status,
        ce.to_status examination_to_status,
        ce.reason examination_reason,
        ce.examine_time examination_examine_time,
        u.id user_id,
        u.nickname user_nickname,
        u.username user_username,
        u.avatar user_avatar
        FROM content_examination ce
        LEFT JOIN user u ON u.id = ce.user_id
        WHERE 1 = 1
    </sql>

    <select id="selectLastExaminationByContentId" resultMap="IntegratedResultMap">
        <include refid="select_statement"/>
        AND ce.target_content_id = #{contentId}
        ORDER By ce.examine_time DESC
        LIMIT 1;
    </select>
</mapper>