<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codimiracle.application.platform.huidu.mapper.ContentMentionMapper">
    <resultMap id="BaseResultMap" type="com.codimiracle.application.platform.huidu.entity.po.ContentMention">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="content_id" jdbcType="INTEGER" property="contentId"/>
        <result column="mention_user_id" jdbcType="INTEGER" property="mentionUserId"/>
    </resultMap>
    <resultMap id="IntegratedResultMap" type="com.codimiracle.application.platform.huidu.entity.vo.ContentMentionVO">
        <collection property="mentions"
                    resultMap="com.codimiracle.application.platform.huidu.mapper.UserMapper.ProtectedResultMap"/>
    </resultMap>
    <select id="selectByContentIdIntegrally" resultMap="IntegratedResultMap">
        SELECT u.id       user_id,
               u.username user_username,
               u.password user_password,
               u.nickname user_nickname,
               u.avatar   user_avatar
        FROM content_mention cm
                 LEFT JOIN user u ON cm.mention_user_id = u.id
        WHERE content_id = #{contentId}
    </select>
</mapper>