<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codimiracle.application.platform.huidu.mapper.LogisticsInformationMapper">
    <resultMap id="BaseResultMap" type="com.codimiracle.application.platform.huidu.entity.po.LogisticsInformation">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="express_number" jdbcType="INTEGER" property="expressNumber"/>
        <result column="express_company" jdbcType="VARCHAR" property="expressCompany"/>
    </resultMap>
    <resultMap id="IntegratedResultMap"
               type="com.codimiracle.application.platform.huidu.entity.vo.LogisticsInformationVO">
        <id column="logistics_information_id" jdbcType="INTEGER" property="id"/>
        <result column="logistics_information_express_number" jdbcType="VARCHAR" property="expressNumber"/>
        <result column="logistics_information_express_company" jdbcType="VARCHAR" property="expressCompany"/>
        <collection property="passingPoints"
                    resultMap="com.codimiracle.application.platform.huidu.mapper.PassingPointMapper.IntegratedResultMap"/>
    </resultMap>
    <select id="selectByIdIntegrally" resultMap="IntegratedResultMap">
        SELECT li.id              logistics_information_id,
               li.express_number  logistics_information_express_number,
               li.express_company logistics_information_express_company,
               pp.id              passing_point_id,
               pp.name            passing_point_name,
               pp.create_time     passing_point_create_time,
               pp.update_time     passing_point_update_time,
               pp.status          passing_point_status
        FROM (SELECT  * FROM logistics_information <if test="page != null">LIMIT #{page.offset}, #{page.limit}</if>) li
                 LEFT JOIN passing_point pp ON li.id = pp.logistics_infomation_id
        WHERE li.id = #{id}
    </select>
</mapper>