<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codimiracle.application.platform.huidu.mapper.PassingPointMapper">
    <resultMap id="BaseResultMap" type="com.codimiracle.application.platform.huidu.entity.po.PassingPoint">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="logistics_information_id" jdbcType="INTEGER" property="logisticsInformationId"/>
    </resultMap>
    <resultMap id="IntegratedResultMap" type="com.codimiracle.application.platform.huidu.entity.vo.PassingPointVO">
        <result column="passing_point_id" jdbcType="INTEGER" property="id"/>
        <result column="passing_point_name" jdbcType="VARCHAR" property="name"/>
        <result column="passing_point_create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="passing_point_update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="passing_point_status" jdbcType="VARCHAR" property="status"/>
        <result column="logistics_information_id" jdbcType="INTEGER" property="logisticsInformationId"/>
    </resultMap>
    <select id="selectByLogisticsInformationId" resultMap="IntegratedResultMap">
        SELECT
            pp.id passing_point_id,
            pp.name passing_point_name,
            pp.create_time passing_point_create_time,
            pp.update_time passing_point_update_time,
            pp.status passing_point_status,
            pp.logistics_information_id logistics_information_id
        FROM passing_point pp
        WHERE pp.logistics_information_id = #{logisticsInformationId}
    </select>
</mapper>