<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codimiracle.application.platform.huidu.mapper.PopularMapper">
    <select id="selectPopularBooksIntegrally"
            resultMap="com.codimiracle.application.platform.huidu.mapper.BookMapper.IntegratedResultMap">
        SELECT
            b.id book_id,
            b.title book_title,
            b.description book_description,
            b.cover book_cover,
            b.teller book_teller,
            b.publish_year book_publish_year,
            b.type book_type,
            b.episodes book_episodes,
            b.status book_status,
            b.money book_money,
            b.reads book_reads,
            b.plays book_plays,
        FROM book b
        LEFT JOIN content c ON b.content_id = c.id
        WHERE b.deleted = 0
        AND
    </select>
    <select id="selectPopularTopicsIntegrally"
            resultMap="com.codimiracle.web.middleware.content.mapper.ArticleMapper.ValueResultMap">
        <include refid="com.codimiracle.web.middleware.content.mapper.ArticleMapper.select_statement" />
    </select>
    <select id="selectPopularReviewsIntegrally"
            resultMap="com.codimiracle.web.middleware.content.mapper.ArticleMapper.ValueResultMap">
        <include refid="com.codimiracle.web.middleware.content.mapper.ArticleMapper.select_statement" />
    </select>
</mapper>