<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codimiracle.application.platform.huidu.mapper.TagMapper">
    <resultMap id="BaseResultMap" type="com.codimiracle.application.platform.huidu.entity.po.Tag">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
    </resultMap>
    <resultMap id="IntegratedResultMap" type="com.codimiracle.application.platform.huidu.entity.vo.TagVO">
        <id column="tag_id" jdbcType="INTEGER" property="id"/>
        <result column="tag_name" jdbcType="VARCHAR" property="name"/>
        <collection property="categories" ofType="com.codimiracle.application.platform.huidu.entity.vo.CategoryVO">
            <id column="category_id" jdbcType="INTEGER" property="id"/>
            <result column="category_name" jdbcType="VARCHAR" property="name"/>
            <result column="category_description" jdbcType="VARCHAR" property="description"/>
        </collection>
    </resultMap>

    <update id="deleteByIdLogically">
        UPDATE tag
        SET deleted = 1
        WHERE tag.id = #{id}
    </update>
    <update id="deleteByIdsLogically">
        UPDATE tag
        SET deleted = 1
        WHERE tag.id IN
        <foreach collection="list" open="(" close=")" item="item" separator=",">#{item}</foreach>
    </update>

    <select id="selectByIdIntegrally" resultMap="IntegratedResultMap">
        SELECT t.id           tag_id,
               t.name         tag_name,
               ct.category_id category_id,
               c.name         category_name,
               c.description  category_description
        FROM tag t
                 LEFT JOIN category_tags ct ON t.id = ct.tag_id
                 LEFT JOIN category c ON ct.category_id = c.id
        WHERE t.deleted = 0
          AND t.id = #{id}
    </select>
    <select id="selectByCategoryIdIntegrally" resultMap="IntegratedResultMap">
        SELECT t.id           tag_id,
               t.name         tag_name,
               ct.category_id category_id,
               c.name         category_name,
               c.description  category_description
        FROM tag t
                 LEFT JOIN category_tags ct ON t.id = ct.tag_id
                 LEFT JOIN category c ON ct.category_id = c.id
        WHERE t.deleted = 0
          AND category_id = #{categoryId}
    </select>
    <select id="selectAllIntegrally" resultMap="IntegratedResultMap">
        SELECT t.id tag_id,
        t.name tag_name,
        ct.category_id category_id,
        c.name category_name,
        c.description category_description
        FROM tag t
        LEFT JOIN category_tags ct ON t.id = ct.tag_id
        LEFT JOIN category c ON ct.category_id = c.id
        WHERE t.deleted = 0
        <if test="filter != null and filter.name != null">
            AND t.name LIKE concat('%',#{filter.name[0]}, '%')
        </if>
        <if test="filter != null and filter.categoryName != null">
            AND c.name LIKE concat('%',#{filter.categoryName[0]}, '%')
        </if>
    </select>
    <select id="selectByTagNames" resultMap="BaseResultMap">
        SELECT
        t.id,
        t.name
        FROM tag t WHERE name IN
        <foreach collection="list" item="item" separator="," open="(" close=")">#{item}</foreach>
    </select>
</mapper>