<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codimiracle.application.platform.huidu.mapper.UserFigureMapper">
    <resultMap id="BaseResultMap" type="com.codimiracle.application.platform.huidu.entity.po.FigureTag">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="tag_id" jdbcType="INTEGER" property="tagId"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
    </resultMap>
    <resultMap id="IntegratedResultMap" type="com.codimiracle.application.platform.huidu.entity.vo.FigureTagVO">
        <id column="figure_id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="figure_score" jdbcType="DECIMAL" property="score"/>
        <association property="tag"
                     resultMap="com.codimiracle.application.platform.huidu.mapper.TagMapper.IntegratedResultMap"/>
    </resultMap>
    <sql id="select_statement">
        SELECT
        uf.id figure_id,
        uf.id user_id,
        uf.score figure_score,
        t.id tag_id,
        t.name tag_name
        FROM user_figure uf
        LEFT JOIN tag t ON uf.tag_id = t.id
        WHERE uf.deleted = 0 AND t.deleted = 0
    </sql>
    <update id="deleteByIdIntegrally">
        UPDATE user_figure uf SET uf.deleted = 1 WHERE uf.id = #{figureId}
    </update>
    <update id="incrementScoreBy">
        UPDATE user_figure uf SET uf.score = uf.score + #{weight} WHERE uf.id = #{figureTagId}
    </update>
    <update id="deleteByIdsLogically">
        UPDATE user_figure uf SET uf.deleted = 1 WHERE uf.id IN
        <foreach collection="ids" item="item" open="(" close=")" separator=",">#{item}</foreach>
    </update>
    <select id="selectAllTagIntegrally" resultMap="IntegratedResultMap">
        <include refid="select_statement"/>
        <if test="filter != null">
            <if test="filter.userId != null and filter.userId.length gt 0">
                AND uf.user_id = #{filter.userId[0]}
            </if>
        </if>
        <if test="sorter != null">
            <if test="sorter.field == 'socre'">
                ORDER BY uf.score
                <if test="sorter.order == 'descend'">DESC</if>
            </if>
        </if>
    </select>
    <select id="selectSimilarUserByUserIdProtectly"
            resultMap="com.codimiracle.application.platform.huidu.mapper.UserMapper.ProtectedResultMap">
        SELECT u.id user_id,
        u.username user_username,
        u.nickname user_nickname,
        u.avatar user_avatar
        FROM user u
        WHERE u.id IN (<include refid="similar_user_id"/>)
    </select>
    <sql id="similar_user_id">
        SELECT DISTINCT ufs.user_id FROM user_figure ufm LEFT JOIN user_figure ufs ON ufm.tag_id = ufs.tag_id WHERE
        ufm.deleted = 0 AND ufs.deleted = 0 AND ufm.user_id = #{userId} AND ufs.user_id != #{userId} AND ufs.score >=
        ufm.score
    </sql>
    <sql id="maybelike_category_id_for_user">
        SELECT ct.category_id FROM category_tags ct LEFT JOIN user_figure ufm ON ct.tag_id = ufm.tag_id WHERE ct.deleted
        = 0 AND ufm.deleted = 0 AND ufm.user_id = #{userId} GROUP BY ct.category_id ORDER BY avg(ufm.score) DESC
    </sql>
    <sql id="maybelike_category_id_for_anonymous">
        SELECT ct.category_id FROM category_tags ct LEFT JOIN user_figure ufm ON ct.tag_id = ufm.tag_id WHERE ct.deleted
        = 0 AND ufm.deleted = 0 GROUP BY ct.category_id ORDER BY avg(ufm.score) DESC
    </sql>
    <select id="selectSimilarCategoryByUserIdIntegrally"
            resultMap="com.codimiracle.application.platform.huidu.mapper.CategoryMapper.IntegratedResultMap">
        <include
                refid="com.codimiracle.application.platform.huidu.mapper.CategoryMapper.select_statement_without_type"/>
        AND c.id IN (<include refid="maybelike_category_id_for_user"/>)
    </select>
    <select id="selectSametastCategoryByUserIdIntegrally"
            resultMap="com.codimiracle.application.platform.huidu.mapper.CategoryMapper.IntegratedResultMap">
        <include
                refid="com.codimiracle.application.platform.huidu.mapper.CategoryMapper.select_statement_without_type"/>
        AND c.id IN (SELECT category_id FROM user_figure uf LEFT JOIN category_tags ct ON ct.tag_id = uf.tag_id WHERE
        uf.user_id IN (<include refid="similar_user_id"/>) GROUP BY ct.category_id ORDER BY SUM(uf.score) DESC)
    </select>
    <select id="selectSimilarCategoryByAvgIntegrally"
            resultMap="com.codimiracle.application.platform.huidu.mapper.CategoryMapper.IntegratedResultMap">
        <include
                refid="com.codimiracle.application.platform.huidu.mapper.CategoryMapper.select_statement_without_type"/>
        AND c.id IN (<include refid="maybelike_category_id_for_anonymous"/>)
    </select>
    <select id="selectSametasteCategoryByAvgIntegrally"
            resultMap="com.codimiracle.application.platform.huidu.mapper.CategoryMapper.IntegratedResultMap">
        <include
                refid="com.codimiracle.application.platform.huidu.mapper.CategoryMapper.select_statement_without_type"/>
        AND c.id IN (<include refid="maybelike_category_id_for_anonymous"/>)
    </select>
</mapper>