<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codimiracle.application.platform.huidu.mapper.UserInfoMapper">
    <resultMap id="BaseResultMap" type="com.codimiracle.application.platform.huidu.entity.po.UserInfo">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="gender" jdbcType="VARCHAR" property="gender"/>
        <result column="age" jdbcType="INTEGER" property="age"/>
        <result column="slogan" jdbcType="VARCHAR" property="slogan"/>
        <result column="introduction" jdbcType="VARCHAR" property="introduction"/>
        <result column="birthdate" jdbcType="TIMESTAMP" property="birthdate"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="region" jdbcType="VARCHAR" property="region"/>
    </resultMap>
    <resultMap id="IntegratedResultMap" type="com.codimiracle.application.platform.huidu.entity.vo.UserInfoVO">
        <result column="user_info_user_id" jdbcType="INTEGER" property="userId"/>
        <result column="user_info_gender" jdbcType="VARCHAR" property="gender"/>
        <result column="user_info_age" jdbcType="INTEGER" property="age"/>
        <result column="user_info_slogan" jdbcType="VARCHAR" property="slogan"/>
        <result column="user_info_introduction" jdbcType="VARCHAR" property="introduction"/>
        <result column="user_info_birthdate" jdbcType="TIMESTAMP" property="birthdate"/>
        <result column="user_info_phone" jdbcType="VARCHAR" property="phone"/>
        <result column="user_info_email" jdbcType="VARCHAR" property="email"/>
        <result column="user_info_region" jdbcType="VARCHAR" property="region"/>
    </resultMap>
</mapper>